<header>
    <ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about-me">About me</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/projects">Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/education">Education</a>
    </li>
    <li>
        <div class="form-check form-switch" id="theme-switch">
            <input class="form-check-input" type="checkbox" role="switch" onclick="switchTheme()" id="switch-box">
        </div>
    </li>
    </ul>
</header>